:root {
    --white: rgba(255,255,255,1);
    --grey: rgba(34,36,38,.15);
    --dark-blue: rgba(22, 32, 44, 1);
}

.wrap {
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    padding: 40px;
    border-right: 1px solid var(--grey);
    background-color: var(--white);
}